<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.id" />
  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control form-control-lg"
      placeholder="Name"
      name="name"
      #name="ngModel"
      [(ngModel)]="service.formData.name"
      required
      [class.invalid]="name.invalid &#038;&#038; name.touched"
    />
  </div>
  <div class="form-group mt-4">
    <label>Date</label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="date"
        [(ngModel)]="dateModel"
        ngbDatepicker
        [startDate]="dateModel"
        #date="ngModel"
        #eleDate="ngbDatepicker"
        required
        maxlength="10"
        minlength="10"
        [class.invalid]="date.status == 'INVALID'"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="eleDate.toggle()"
          type="button"
        >
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group mt-4">
    <label>Guests</label>
    <tag-input
      name="guests"
      [(ngModel)]="service.formData.guests"
      [identifyBy]="'id'"
      [displayBy]="'fullName'"
      [onlyFromAutocomplete]="true"
    >
      <tag-input-dropdown
        [autocompleteItems]="service.guests"
        [identifyBy]="'id'"
        [displayBy]="'fullName'"
        [showDropdownIfEmpty]="true"
        [dynamicUpdate]="false"
      >
      </tag-input-dropdown>
    </tag-input>
  </div>
  <div class="form-row mt-4">
    <button
      class="btn btn-primary btn-lg btn-block m-1"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit
    </button>
    <button
      class="btn btn-secondary btn-lg btn-block m-1"
      type="button"
      (click)="goBack()"
    >
      Cancel
    </button>
  </div>
</form>
